<%= form_with(model: comic_author, local: true) do |form| %>
  <% if comic_author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comic_author.errors.count, "error") %> prohibited this comic_author from being saved:</h2>

      <ul>
      <% comic_author.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comic_id %>
    <%= form.text_field :comic_id %>
  </div>

  <div class="field">
    <%= form.label :author_id %>
    <%= form.text_field :author_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
