<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comic.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @comic.summary %>
</p>
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
  <!-- スライドさせる画像の設定 -->
  <div class="carousel-inner" style="text-align:center">
    <% @comic.comic_data.page.times do |page_id| %>
      <% if page_id == 0 %>
        <div class="carousel-item active">
          <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/nagisa-intern/data/'+@comic.id.to_s+'/'+@comic.comic_data.episode.to_s+'/0000.jpeg', :class => 'img-fluid' %>
        </div>
        <div class="carousel-item">
          <%= image_tag 'http://deliver.commons.nicovideo.jp/thumbnail/nc65157?size=l', :class => 'img-fluid' %>
        </div>
      <% elsif page_id < 10 %>
        <div class="carousel-item">
          <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/nagisa-intern/data/'+@comic.id.to_s+'/'+@comic.comic_data.episode.to_s+'/00'+(@comic.comic_data.page-page_id).to_s+'.jpeg', :class => 'img-fluid' %>
        </div>
      <% else %>
        <div class="carousel-item">
          <%= image_tag 'https://s3-ap-northeast-1.amazonaws.com/nagisa-intern/data/'+@comic.id.to_s+'/'+@comic.comic_data.episode.to_s+'/000'+(@comic.comic_data.page-page_id).to_s+'.jpeg', :class => 'img-fluid' %>
        </div>
      <% end %>
    <% end %>
  </div><!-- /.carousel-inner -->
  <!-- スライドコントロールの設定 -->
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div><!-- /.carousel -->

<div>
  投げ銭<strong><%= @comic.chip_amount %></strong>
  <%= form_tag(comics_show_post_path, :action => 'show', :remote => true) do %>
    <%= text_field_tag :add_tip %>
    <%= submit_tag "投げ銭" %>
  <% end %>
</div>
<div>
<%= link_to 'Edit', edit_comic_path(@comic) %> |
<%= link_to 'Back', comics_path %>
</div>
